.col-sm-2{
    background-color: rgb(206, 206, 123);
    border: 1px solid;
}

.col-md{
    background-color:rgb(54, 172, 172);
    border: 1px solid;
}

.Pictures_container{
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
   
}

.thumbnail_container{
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
}

img{
    height: auto;
    max-width: 100%;
}

.navbar-brand{
    background-color: rgb(178, 191, 234);
    box-shadow: 1px 1px 4px;
}